body{
  background-image: url(../assets/img/doom-background-agp59ervo4y5wbob.jpg);
  background-size: cover;

}

h1{
  color: rgb(147, 37, 37);
  font-size: 4rem;
}

.number{
  background-color: rgba(0, 71, 17, 0.738);
  color: white;
}
.fizz{
  background-color: rgba(0, 0, 152, 0.685);
  color: white;
}

.buzz{
  background-color: rgba(96, 0, 0, 0.699);
  color: white;
}

.fizz-buzz{
  background-color: rgba(5, 5, 5, 0.72);
  color: white;
}
.general{
  border: 1px solid black;
  margin: 5px;
  height: 50px;
  width: calc(100% / 10 -  10px);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px rgba(62, 62, 62, 0.564);
}